
.footer {
    background-color: $sectionBgClr;
    color:$secondaryTxtClr;
    padding: 8px 16px 40px;
}

.footer-top {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 30px;
    font-size: $textSizeBase;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.footer-column {
    min-width: 160px;
    flex: 1;
}

.footer-heading {
    font-weight: 700;
    margin-bottom: 15px;
    color:$primaryTxtClr;
}

.footer-link {
    padding-block-end: 8px;
}

.footer-top .footer-link:hover {
    color: $primaryTxtClr;
    text-decoration: underline; 
}

.footer-social {
    margin-bottom: 40px;
}

.footer-social-links { 
    display: flex;
    gap: 20px;
}

.footer-bottom {
    display: flex;
    // flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid #282828;
    font-size: $textSizeSmaller-1;
}

.footer-legal-links-container{
    display: flex;
    flex-wrap: wrap; 
    gap: 8px; 
}

.footer-legal-links, .footer-copyright {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-items: end;   
}

.footer-legal-links-container .footer-legal-links:hover {
    color: $primaryTxtClr;
    text-decoration: none; 
}

.btn-social {
    background-color: $buttonDarkBgClr;
    @include btn( $circleSize: 40px);

    &:hover {
        background-color: $buttonDarkHoverBgClr;
    }

} 
