.drop-down-menu-item {

    padding: 12px 8px 12px 12px;
    min-width: 152px;
    color: #ffffe6;
    fill: #ffffe6;
    
    border-radius: 4px;
    display: flex;
    align-items:center;

    .content {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    // .icon {
    //     margin-right: 8px;
    // }

    .right-align {
        display: flex;
        align-items: center;
        margin-left: auto; /* Pushes this container to the right */
    }
    
    .save-btn {
        margin-left: auto; 
    }

    &.include-top-division {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 16p;
        border-block-start: 1px solid  rgba(0, 0, 0, 0.3);
    }

    .section-title,
    .item {
        display: flex;
        column-gap: 1em;  
        align-items: center;
    }

    .section-title {
        font-size: 11px;
        font-weight: 700; 
    }
    
    .item {
        font-size: 13px;
        font-weight: 400; 
    }
    
    .chosen {
        color: $buttonBgGreen;

        i {
            fill: "#1ed760";
        }
    }

    .custom-checkbox {
        position: relative;
        cursor: pointer;
    }

    .custom-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }

    .custom-checkbox input[type="checkbox"] + span {
        width: 16px;
        height: 16px;
        border-radius: 50%;

        background-color: transparent;
        border: 1px solid $secondaryTxtClr;
        // border-radius: 3px;
        display: inline-block;
        vertical-align: middle;
        transition: background-color 0.3s;
    }


    .custom-checkbox input[type="checkbox"]:checked + span {
        background-color: #4caf50; /* Color when checked */
    }


    .custom-checkbox input[type="checkbox"]:checked + span::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 5.5px;
        width: 4px;
        height: 8px;
        border: solid rgb(40, 40, 40);;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}