.drop-down-menu {
    position: absolute;
    overflow: unset;
    z-index: 1000;
    top: 32px;
    right: 0;
    
    background-color: rgb(40, 40, 40);
    border-radius: 4px;
    padding: 4px;
    scrollbar-color: rgba(255, 255, 255, 0.3);
    line-height: normal;

    ul {
        display: grid;
        align-items: center;
    }
   
}