.drop-down-menu {
    position: absolute;
    top: 32px;
    right: 12px;
    background-color: rgb(40, 40, 40);
    border-radius: 4px;
    min-width: 160px;
    max-width: 350px;
    padding: 4px;
    scrollbar-color: rgba(255, 255, 255, 0.3);
    line-height: normal;
    
}