.edit-station {

    

    width: 524px;
    height: 384px;
    color: rgb(179, 179, 179);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
    border-color: rgb(179, 179, 179);
    background-color:  rgb(40, 40, 40);
    border-radius: 8px;
    

    .header {
        padding: 24px;
        display: flex;
        justify-content: space-between;

        h1{
            font-size: 20px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            // height: 24px;
            // width: 102px;
            margin: 0;
            padding: 0;
        }
    }

    .body {
        padding: 0px 24px 24px;
        display: grid;
        column-gap: 16px;
        row-gap: 16px;
        grid-template-rows: 32px 132px 32px 32px;
        grid-template-columns: 180px 280px;
        grid-template-areas:"album-image title"
                            "album-image description"
                            ".           save-btn"
                            "disclaimer  disclaimer";

    .album-image{
        grid-area: album-image;
        position: relative;
        width: 180px;
        height: 180px;

        div.choose-photo{
            height: 180px;
            width: 180px;
            padding: 0;
            div{
                background-color: rgb(40, 40, 40);
                border-color:  rgb(127, 127, 127);
                border-radius: 4px;
                box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 60px 0px;
                color: rgb(127, 127, 127);
                display: flex;
                justify-content: center;
                height: 180px;
                width: 180px;
                padding: 0;
                margin: 0;
            }
        }
        
        div.edit-image {
            color: rgb(255, 255, 255);
            position: absolute;
            inset: 0;
            button.edit-image-btn {
                height: 180px;
                width: 180px;
                padding: 0;
                margin: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                border: 0;
                border-radius: 4px;
                background-color: rgb(40, 40, 40);
                color: rgb(255, 255, 255);

                font-size: 13.33px;
                font-weight: 400;
                opacity: 0;

                &:hover {
                    opacity: 0.5;
                    transition: 0.2s;
                }

        
                div{
                    margin: 0;
                    margin-top: 16px;
                 
                }
            }
        }

        div.more {
            position: absolute;
            right: 8px;
            top: 8px;

            height: 32px;
            width: 32px;

            margin: 0;
            padding: 0;

            color: rgb(255, 255, 255);
            
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 8px;

                border-radius: 32px;

                font-size: 13.33px;

                color: rgb(179, 179, 179);
                background-color: rgba(0, 0, 0, 0.3); 
                border: 0;

                opacity: 0;

                &:hover{
                    opacity: 1;
                    transition: 0.2s;
                }

                i {
                    &:hover{
                        fill: white;
    
                    }
                }

                span{
                    position: absolute;
                    clip: rect(0px, 0px, 0px, 0px);
                    height: 1px;
                    width: 1px;
                    margin: -1px;
                    padding: 0;
                    text-align: center;

                    color: rgb(179, 179, 179);

                }
            }
        }
    }

    .title {
        grid-area: title;

        input {
            @include inputBorder;
            @include inputText;
            width: 280px;
            height: 40px;
            padding: 12px;

            @include inputActions
        }
    }

    .description {
        grid-area: description;

        textarea {
            @include inputBorder;
            @include inputText;
            width: 280px;
            height: 132px;
            margin: 0;
            padding: 8px 8px 28px;
            column-count: auto;
            text-wrap: wrap;
            text-align: start;
            text-indent: 0px;
            text-rendering: auto;
            overflow-wrap: break-word;
            appearance: auto;
            resize: none;

            @include inputActions
        }
    }

    div.save{
        grid-area: save-btn;
        display: flex;
        align-items: center;
        justify-self: flex-end;
        margin: 0;
        padding: 0;
        color:  rgb(255, 255, 255);

        button.save-btn {
            position: relative;
            height: 48px;
            width: 83px;

            align-items: flex-start;
            align-self: center;

            margin: 0;
            padding: 0;

            font-weight: 700;
            text-align: center;
            
            background-color: white;
            color: rgb(40, 40, 40);
            border:0;
            border-radius: 9999px;
            cursor: pointer; 
            transition: transform 0.3s ease;

            &:hover{
                transform: scale(1.1);

            span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                min-block-size: 48px;
                padding: 8px 24px;
                font-size: 16px;
                font-weight: 700;

                transition: transform 0.3s ease;
                transition: background-color 0.3s ease;

                &:hover{
                    transform: scale(1.05);
                }  
            }
            }
        }
    }


    .disclaimer {
        grid-area: disclaimer;
        color:rgb(255, 255, 255);
        font-size: 11px;
        font-weight: 700;
    }
    }



    

}