.edit-station {

    

    width: 524px;
    height: 384px;
    color: rgb(179, 179, 179);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
    border-color: rgb(179, 179, 179);
    background-color:  rgb(40, 40, 40);
    border-radius: 8px;

    .header {
        padding: 24px;
        display: flex;
        justify-content: space-between;

        h1{
            font-size: 20px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            // height: 24px;
            // width: 102px;
            margin: 0;
            padding: 0;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: end;

            height: 32px;
            width: 32px;
            border-radius: 32px;
            margin: -8px -8px 0 0;
            padding: 0;
            color: rgba(255, 255, 255, 0.7);
            background-color: inherit;
            border: none;
            font-size: 13px;
            font: inherit;

            &:hover{
               background-color: rgb(179, 179, 179); 
            }

        }

    }

    .body {
        padding: 0px 24px 24px;
        display: grid;
        gap: 16px;
        grid-template-rows: 32px 132px 32px 32px;
        grid-template-columns: 180px 280px;
        grid-template-areas:"album-image title"
                            "album-image description"
                            ".           save-btn"
                            "disclaimer  disclaimer";

    .album-image{
        grid-area: album-image;
    }

    .title {
        grid-area: title;

        input {
            padding: 12px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            border: 0.8px solid rgba(0, 0, 0, 0);
            color: rgb(255, 255, 255);
            cursor: text;
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            width: 280px;

            &:focus {
                outline: 0;
            }
        }
    }

    .description {
        grid-area: description;

        textarea{
            padding: 8px 8px 28px;
            margin: 0;
            border: 0.8px solid rgba(0, 0, 0, 0);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            color: rgb(255, 255, 255);
            cursor: text;
            font-size: 14px;
            font-weight: 400;
            column-count: auto;
            text-wrap: wrap;
            text-align: start;
            text-indent: 0px;
            overflow-wrap: break-word;
            width: 280px;
            height: 124px;

            &:focus {
                outline: 0;
            }


        }
    }

    .save-btn {
        grid-area: save-btn;
    }

    .disclaimer {
        grid-area: disclaimer;
    }
    }



    

}