.global-nav {
    height: 50px;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    column-gap: 0.5em;
    align-items: center;

    
    .home{
            height: 50px;
            width: 50px;
            display: grid;
            place-content: center;
            border-radius: 50%;
            background-color: rgb(31, 31, 31);
            justify-self: end;
        }

    form {
        color: rgb(179, 179, 179); 
        font-size: 16px;
        background-color: rgb(42, 42, 42);
        height: 50px;
        width: 465px;
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        border-radius: 500px;
        // padding: 12px 64px 12px 48px;

        input{
            border: none;
            background-color: inherit;
            font-size: inherit;
        }

        .search {
            justify-self: start;
            padding-inline-start: 12px;
        }

        .browse{
            
            height: 25px;
            width: 48px;
            border-inline-start: 1px solid rgb(179, 179, 179);
            height: 20px;
            padding: 0px 4px 0px 12px;
            justify-self: end;
        }
    }

    .bell {
        justify-self: end;
    }

    .profile-btn{
        justify-self: end;
        color: rgb(31, 31, 31);
        font-size: inherit;
        width: 48px;
        height: 48px;
        background-color: rgb(180, 155, 200);
        border-radius: 50%;
        border: 9px solid rgb(31, 31, 31);
    }

    
}