.global-nav {
    height: 48px;
    position: relative;

    .global-nav-left {
        height: 72px;
        width: 72px;
    }

    .global-nav-mid{
        display: flex;
        align-items: center;
        max-width: 546px;
        min-width: 350px;
        width: 50%;

        
        .search-container{
            flex-grow: 1;

        }

        .mobile-search {
            display: none;
        }
    }

    .library-icon {
        display:none;
    }

    .global-nav-right {
        display: flex;
        
        .installApp{
            display: flex; 
            align-items: center;
            padding:4px 16px 4px 33px ;


            .btn-installApp-nav{
                @include transparent;
                @include btn($type: animated, $size: small);
                
            }

            .smaller-margin{
                margin-right: -9px;
            }

            &:hover {
                transform: scale(1.05);
                text-decoration: underline;
            }

        }

        .profile-btn{
            @include green;
            @include btn($type: animated, $size: small);
        }

        .login-signup {
            display: flex;
            
            & > *:last-child {
                margin-inline-end: 30px;
            }
        }
    }

    @media (max-width: 720px) {

        padding-block-end: 8px;
        
        .global-nav-left,
        .global-nav-right {
            display: none;
        }
    
        .global-nav-mid {
            display: grid;
            grid-auto-flow: column;
            place-content: center;
            width: 100%;
            
            button {
                background-color: transparent;
            }

            .search-container {
                display: none;
            }
    
            .mobile-search {
                display: block;
                
            }
    
            .library-icon {
                display:block;
            }
           
        }
    
    }
    

}

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-global-nav-gray {
    fill: $secondaryTxtClr;
    background-color: $tintedBgClr;
    @include btn($type: animated, $circleSize: 48px);
} 

.btn-global-nav-white {
    fill: $primaryTxtClr;
    background-color: $tintedBgClr;
    @include btn($type: animated, $circleSize: 48px);
} 

.btn-search-nav {
    @include transparent;
    @include btn($type: animated, $circleSize: 48px);
} 


.text-container:hover .btn-search-nav svg,
.text-container:focus-within .btn-search-nav svg {
    fill: $lightBgClr; 
    transition: fill 0.3s; 
}

