:root {
    --header-fixer-height: 64px;
}

.header-fixer {
    position: relative;
    

    .header-fixer-background {
        position: fixed;
        width: 100%;
        height: var(--header-fixer-height);
        transition: opacity 0.4s ease;
    }
    
    .header-fixer-header {
        position: fixed;
        width: 100%;
        height: var(--header-fixer-height);
        transition: opacity 0.4s ease;
    }

}