.left-sidebar {
    display: flex;
    flex-direction: column;
    gap: $panelGap;
    width: 100%;
    height: 100%;

    .sidebar-nav {
        @include section;
    }

    .my-library{
        color: $secondaryTxtClr;
        display: grid;
        row-gap: 1em;

        .sidebar-header {
            display: grid;
            grid-auto-flow: column; 

            .library {
                justify-self: start;
                display: grid;
                align-content: center;
                grid-auto-flow: column;
                column-gap: 0.5em;

                &:hover {
                    color: white;
                    cursor: pointer;
                }
            }

            .plus {
            justify-self: end;
            width: 32px;
            }
        }

        
    }
    
}
