.left-sidebar {
    display: flex;
    flex-direction: column;
    gap: $panelGap;
    width: 280px;
    height: 100%;

   .my-library{
        color: $secondaryTxtClr;
        display: grid;
        row-gap: 1em;
        @include section;

        .sidebar-nav {
            @include section;
        }

        .sidebar-header {
           display: grid;
           grid-auto-flow: column; 

           .library {
            justify-self: start;
            display: grid;
            align-content: center;
            grid-auto-flow: column;
            column-gap: 0.5em;

            &:hover {
                color: white;
                cursor: pointer;
            }
           }

           .plus {
            justify-self: end;
            width: 32px;
           }
        }

        
    }
    
}
