.sidebar-header {
    .add-playlist {
        position: relative;
    }
    
    .drop-down-menu {
        height: max-content;
        width: max-content;
        position: absolute;
        left: -110px;
        top: 40px;
        li {
            width: 190px;
            height: 40px;
            display: flex;
            justify-content: space-between;
        }
    }


}