.sidebar-header {
    @include flex($justify: space-between);
    padding-inline: 16px;

    .library {
        color: $secondaryTxtClr;
        fill: $secondaryTxtClr;
        font-weight: 700;

        &:hover {
            color: $primaryTxtClr;
            fill: $primaryTxtClr;
        }
    }

    .add-playlist {
        position: relative;
        margin-inline-end: -8px;
    }
    
    .drop-down-menu {
        height: max-content;
        width: max-content;
        position: absolute;
        left: -110px;
        top: 40px;
        li {
            width: 190px;
            height: 40px;
            display: flex;
            justify-content: space-between;
        }
    }
}