.sidebar-filter {
    display: grid;
    row-gap: 0.5em;
    width: 100%;
    padding-inline: 16px;

    .sidebar-search{
        display: grid;
        grid-auto-flow: column;

        .search-container{
            display: flex;
            width: max-content;
            border-radius: 4px;

            .search {
                justify-self: start;
                width: 32px;
            }

            &.active {
                background-color: $tintedBgClr;
            }
    
            input {
                border: none;
                width: 0;
                font-family: SprintifyUI;
                font-size: $textSizeSmaller-1;
                background-color: transparent;
                transition: width 0.2s ease;

                &.active {
                    width: 180px;
                }
            }
    
            input:focus {
                outline: none;
                color: white;
            }
        }
        

        .sort-by{
            position: relative;
            justify-self: end;
            display: flex;
            column-gap: 0.2em;
            text-transform: capitalize;

            .text-content.hide {
                width: 0;
            }

            .recents {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 0.5em;
                font: inherit;
                font-size: 14px;

                &:hover{
                    fill: $primaryTxtClr;
                    color: $primaryTxtClr;
                    cursor: pointer;
                }
            }
        }
    }
 
}