.main-view-body {
    container-type: inline-size;
    display: grid;
    gap: 32px;
    padding-inline: 16px;
    
    .stations-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        @container (min-width: 815px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .card-stations {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        overflow-y: hidden;
    }
}