.mini-song-preview {

    @include flex($justify: start);
    height: 100%;

    &.card {
        flex-direction: column;
        gap: 16px;

        &.card {
            .song-info {
                width: 100%;

                .song-name {
                    font-family: SprintifyUITitle;
                    font-size: $textSizeLarger1;
                    font-weight: 700;
                }

                .artist {
                    font-size: $textSizeBase;
                }
            }
        }
    }

    .thumbnail {
        width: 40px;
        height: 40px;
        margin-inline-end: 12px;
        border-radius: 4px;

        &.bigger {
            width: 56px;
            height: 56px;
        }

        &.card {
            width: 100%;
            height: auto;
        }
    }

    .song-info {
        @include flex($direction: column, $align: start);

        .song-name {
            color: $primaryTxtClr;
        }
    
        .artist {
    
            font-size: $textSizeSmaller-1;
            color: $secondaryTxtClr;
        }
    }

    &.currently-playing {
        .song-name {
            color: $highlightedTxtClr;
        }
    }
}