.mini-song-preview {

    @include flex($justify: start);
    height: 100%;
    width: 100%;

    &.add-songs {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 56px repeat(2, minmax(120px, 3fr)) 70px;

        .play-button {
            left: 20px;
        }
    }

    &.card {
        flex-direction: column;
        gap: 16px;

        &.card {
            .song-info {
                width: 100%;

                .song-name {
                    font-family: SprintifyUITitle;
                    font-size: $textSizeLarger1;
                    font-weight: 700;
                }

                .artist {
                    font-size: $textSizeBase;
                }
            }
        }
    }

    .thumbnail {
        position: relative;
        width: 40px;
        height: 40px;
        margin-inline-end: 12px;
        border-radius: 4px;

        &.bigger {
            width: 56px;
            height: 56px;
        }

        &.card {
            width: 100%;
            height: auto;
            margin: 0;
            border-radius: 8px;
        }
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 12px;
        opacity: 0;
        transform: translateY(-50%);
    }

    &:hover .play-button {
        opacity: 1;
    }    

    .song-info {
        @include flex($direction: column, $align: start);
        width: 220px;
        
        
        .song-name {
            @include overflow-ellipsis;
            color: $primaryTxtClr;
        }
    
        .artist {
            @include overflow-ellipsis;
            font-size: $textSizeSmaller-1;
            color: $secondaryTxtClr;
        }
    }

   
       
    .add-btn {
        margin-left: auto;
        margin-inline-start: 0.8em;
        background-color: transparent;
        border: 1px solid $secondaryTxtClr;
    }

    .album {
        width: 180px;
        margin-inline-start: 0.8em;
        @include overflow-ellipsis;
        font-size: $textSizeSmaller-1;
         color: $secondaryTxtClr;
            
    }
    

    &.currently-playing {
        .song-name {
            color: $highlightedTxtClr;
        }
    }
}