.player-container {
    display: grid;
    grid-template-columns: 0 30% 40% 30%;
    min-width: 720px;
    height: $playerHeight;

    .player-left-panel {
        @include flex($justify: start);
        width: 100%;
        padding-inline: 16px;
    }

    .player-middle-panel {
        @include flex($direction: column, $gap: 8px);
        width: 100%;

        .actions {
            @include flex($gap: 16px);
        }

        .duration-bar {
            display: grid;
            grid-template-columns: 1fr minmax(200px, 5fr) 1fr;
            gap: 8px;
            width: 100%;

            font-size: $textSizeSmaller-2;
            color: $mediumTxtClr;

            .elapsed-time {
                place-self: center end;
            }

            .slider {
                place-self: center center;
            }

            .total-time {
                place-self: center start;
            }
        }
    }

    .player-right-panel {
        @include flex($justify: flex-end);
        width: 100%;
    }

    .active-icon {
        color: $iconActive;
        fill: $iconActive;

        i::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 4px;
            border-radius: 100vh;
            background-color: $iconActive;
        }
    }

    .btn-player-play {
        @include light;
        @include btn($type: animated, $circleSize: 32px);
    
        &:hover {
            background-color: $lightBgClrHighlight;
        }
    
        &:active {
            background-color: $lightBgClrPress;
        }
    }    
}