.play-button {

    display: inline-flex;

    .btn-station-details {
        @include green;
        @include btn($type: animated, $circleSize: 56px);

        &:active {
            background-color: $buttonBgGreenPress;
        }
    }

    .btn-station-details-small {
        @include green;
        @include btn($type: animated, $circleSize: 48px);

        &:active {
            background-color: $buttonBgGreenPress;
        }
    }

    .btn-station-preview {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 8px 0px;
        @include green;
        @include btn($type: animated, $circleSize: 32px);
       
        &:active {
            background-color: $buttonBgGreenPress;
        }
    
    }

    .btn-station-preview-light {
        @include transparent;
        @include btn($circleSize: 32px);   
    }
    
    .btn-song-preview {
        @include transparent;
        @include btn($circleSize: 16px);
    }


}