.right-side-bar {
    padding-inline: 16px;

    .header-text {
        @include overflow-ellipsis;
        font-size: $textSizeBase;
        font-weight: 500;
        color: $primaryTxtClr;
    }

    header {
        @include flex();
        padding-block: 8px;

        & > *:first-child {
            flex: 1;
        }
    }
}