.search-topic {
    padding: 12px;

    .img-box{
        position: relative;
        width: 180px;
        height: 100px;
        
        border-radius: 8px;
        overflow: hidden;
    
       h2 {
            display: grid;
            place-self: center;
            width: max-content;
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            padding: 16px 54px 16px 16px;
        }
    
    
        img {
            position: absolute;
            right: -10px;
            bottom: -15px;
            height: 80px;
            transform: rotate(30deg);
            border-radius: 4px;
        }
    
    }
}
