.song-list{
    position: relative;
    padding-inline: 16px;
    
    .list-header {
        height: 36px;
        margin-bottom: 8px;
        padding: 0 16px;
        border-bottom: 1px solid $tintedBgClr;
        font-size: $textSizeSmaller-1;
        color: $secondaryTxtClr;

        .duration {
            display: grid;
            grid-template-columns: 70% 30%;
            place-items: end;
            width: 100%;
        }
    }

    .song-list-item {
        position: relative;
        @include flex;
        height: 56px;
        padding: 0 16px;
        border-radius: 4px;
        cursor: default;

        &.selected {
            background-color: $listSelectedClr;
        }

        &:not(.selected):hover {
            background-color: $listHoverClr;
        }

        &.dragged-over::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $highlightedTxtClr;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
    }
}



