.song-preview {
    position: relative;
    width: 100%;
    color: $secondaryTxtClr;

    a:hover {
        text-decoration: underline;
        color: $primaryTxtClr;
    }

    &.highlight {
        color: $primaryTxtClr;
    }

    &.list {
        .small-preview {
            display: grid;
            grid-template-areas:
            "thumbnail  song-name"
            "thumbnail  artist";
            height: 100%;

            .thumbnail {
                grid-area: thumbnail;
                place-self: center;
                width: 40px;
                height: 40px;
                margin-inline-end: 12px;
                border-radius: 4px;
            }

            .song-name {
                grid-area: song-name;
                place-self: end start;
                color: $primaryTxtClr;
            }

            .artist {
                grid-area: artist;
                place-self: start;
                font-size: $textSizeSmaller-1;
            }
        }

        .album {
            font-size: $textSizeSmaller-1;
        }

        .song-duration {
            display: grid;
            grid-template-columns: 25% 45% 30%;
            place-items: center end;
            width: 100%;
            font-size: $textSizeSmaller-1;
        }
    }

    &.type-search,
    &.recommended {
        .title-column {
            display: grid;
            grid-template-columns: 60px 200px;
            column-gap: 0.2em;

            img {
                height: 50px;
            }

            .text {
                display: grid;
                align-items: center;
                justify-items: start;
                justify-self: start;

                div:first-child {
                    font-size: 14px;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                div:nth-child(2) {
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &.card {
        .title-column {
            display: grid;
            row-gap: 16px;
            
            img {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 8px;
            }

            .text {
                display: grid;
                align-items: center;
                justify-items: start;
                justify-self: start;

                div:first-child {
                    font-size: $textSizeLarger1;
                    color: $primaryTxtClr;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                div:nth-child(2) {
                    font-size: $textSizeBase;
                    color: $mediumTxtClr;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
