.song-list-search-page {

    position: relative;
    padding-inline: 16px;

    h2{
        font-size: 24px;
        margin-block-start: 20px;
        margin-block-end: 10px;
    }

    ul{
        height: 240px;

        .song-list-item{
            position: relative;
            @include flex; 

            padding: 0 8px;
            height: 50px;
            border-radius: 4px;

            cursor: default;
    
            &.selected {
                background-color: $listSelectedClr;
            }
    
            &:not(.selected):hover {
                background-color: $listHoverClr;
            }
        }
     
    }
 
}