.station-filter-btns {
    display: grid;
    
    grid-auto-flow: column;
    justify-items: center;
    
    column-gap: 0.2em;
    grid-template-columns: max-content;

   
    .active {
        @include inside-out;
        justify-self: start;
    }

    
  
}