.station-preview {
    
    .list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        font: inherit;
        border-radius: 4px;
    
        img{
            height: 50px;
            width: 50px;
            border-radius: 4px;
        }
    
        .text {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 8px;

            text-transform: capitalize;
    
            .station-name{
                color: $primaryTxtClr;
            }

            .play-button {
                opacity: 0;
            }

            div{
                &:nth-child(2){
                    font-size: 14px;
                }
            }

            &:hover {
                .play-button {
                    opacity: 1;
                }
            }
        }
    
        &.minimal {
            background-color: $tintedBgClr;
        }

    }

    .card {
        display: grid;
        justify-items: center;
        
        img{
            height: 150px;
            width: 150px;
            border-radius: 4px;
        }

        .text{
            color: $mediumTxtClr;
            font-size: 12px;
            font-weight: 700;
        }
    }

}



