.station-list {

    &.left-side-stations {
        li{
            border-radius: 8px;
            cursor: pointer;
            
            &:hover{
                background-color: rgba(179, 179, 179, 0.05);
            }

            &:has(.dragged-over) {
                outline: 2px solid $highlightedTxtClr;
            }
        }

    }


    &.card-stations {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-template-rows: 1fr;
        grid-auto-rows: 0;
        margin: -8px;

        li {
            padding: 8px;
            border-radius: 8px;

            &:hover{
                background-color: rgba(179, 179, 179, 0.05);
            }
        }
    }

}