.station-filter-btns {
    display: grid;
    
    grid-auto-flow: column;
    justify-items: center;
    
    column-gap: 0.2em;
    grid-template-columns: max-content;

    .hidden-radio {
        display: none;
    }

    .active {
        @include inside-out;
        justify-self: start;
    }

    button {
        &:not(.clear-filter){

            width: 78px;
        }
        
    }
    
    .sub-filter {
        display: grid;
        grid-auto-flow: column;
        column-gap: 0.2em;
        width: max-content;
        justify-content: center;
    }

    
  
}