.station-action-bar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;

    & > *:not(:last-child) {
        margin-inline-end: 16px;
    }

    & > *:last-child {
        @include align-to-end-flex;
        padding-inline: $regularGap;
    }

    .view-as,
    .show-more {
        position: relative;
        z-index: 100;
    }

    .show-more {
        .drop-down-menu{
            right: -180px;
            width: max-content;
        }
    }
}