.station-list{

    ul {
        li{
            &:hover{
                background-color: rgba(179, 179, 179, 0.2);
                cursor: pointer;
                
            }
        }
    }

    .main-view-stations{

        header{
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            font-weight: 700;
            height: 60px;
            
            h2 {
                font-size: 20px;
                display: grid;
                justify-self: start;
                font-weight: inherit;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            p {
                justify-self: end;
                font-size: 13px;
                color: $mediumTxtClr;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            
        }
        .stations-top {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5em;
        }

        .card-stations {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
    }
}