.station-details-header {
    display: flex;
    flex-wrap: nowrap;
    height: 186px;
    padding: 16px;

    .station-cover-container{
        align-self: flex-end;
        flex-shrink: 0;
        @include flex;
        position: relative;
        width: 128px;
        height: 128px;
        margin-inline-end: 16px;

        .new-playlist {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            background-color: rgb(40, 40, 40);
        }
        
        .station-cover {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
                    
            .overlay-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;

                .editImage{
                    background-color: transparent;
                }
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }

    .station-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: $textSizeSmaller-1;
        z-index: 0;

        .station-name {
            font-family: SprintifyUITitle;
            font-size: $textSizeLarger4;
            font-weight: 800;
        }

        .medium-title {
            font-size: $textSizeLarger3;
        }

        .small-title {
            font-size: $textSizeLarger2;
        }

        .bottom-info {
            margin-block-start: $regularGap;
            
            .station-created-by {
                font-size: $textSizeSmaller-1;
                font-weight: 700;
            }
    
            .total-duration {
                color: $secondaryTxtClr;
            }
    
            .dot::before {
                content: '•';
                margin: 0 4px; 
            }
        }
    }
}