.station-filter-btns {
    @include flex($justify: start);
    width: 100%;

    li {
        margin-inline-end: 8px;
        
        &:not(.visible) {
            width: 0;
            margin: 0
        }
    }

    .active {
        @include inside-out;
        justify-self: start;
    }

}