.station-action-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 16px;
}
    
.station-action-bar-row{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}

.station-action-bar-container{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
}
    
.action-bar-btn{
        background-color: transparent;
}

.view-as{
        display: flex;  
        flex-direction: row;   
}
