:root {
    --tooltip-txt-color: #ffffff;
    --tooltip-bgcolor: rgb(12,12,12,0.9);
}

.tooltip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .tooltip {
        position: absolute;
        border-radius: 4px;
        padding: $smallPadding;
        text-wrap: nowrap;
        font-size: $textSizeSmaller-1;
        font-weight: 300;
        color: var(--tooltip-txt-color);
        background-color: var(--tooltip-bgcolor);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;

        opacity: 0;
        transition: opacity 0.5s ease;
    }
}