.top-result{
    min-width: 250px;

    h2{
        font-size: 24px;
        margin-block-start: 20px;
        margin-block-end: 10px;
    }

    .top-result-card{
        position: relative;

        display: grid;
        height: 200px;
        background-color: hsla(0,0%,100%,0.05);
        border-radius: 4px;
        padding: 20px;
    
        img {
            height: 90px;
            border-radius: 8px;
            margin-block-end: 25px;
        }

        .play-button {
            opacity: 0;
            position: absolute;
            bottom: 2%;
            right: 0;
            transform: translate(-50%, -50%);
        }

      
        .name {
            @include overflow-ellipsis;
            margin-block-start: 5px;
            font-size: 28px;
            font-weight: 500;
            padding: 0 0 4px 0;
            font-family: inherit;
            line-height: 0.8;
        }

        .bottom-line {
            margin-block-start: 5px;
            font-size: 14px;

            .type,
            .dot {
                color: $secondaryTxtClr; 
            }

            span {
                text-transform: capitalize;
            }
        }

        &:hover {
            background-color: $listHoverClr;
            cursor: pointer;
            .play-button {
                    opacity: 1;
            }     
        }
    }

    

}