.user-msg {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    z-index: 9999;
    transition: transform 0.4s ease, opacity 0.4s ease;

    p {
        margin: 0;
    }
    
    &.success {
        background-color: $lightBgClr;
        color: $lightTxtClr;
    }
    
    &.error {
        background-color: $lightBgClr;
        color: $txtNegative;
    }

    &.show {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
