.station-index {
    padding: $panelGap;
    background-color: $primaryBgClr;

    .global-nav-container {
        grid-area: global-nav;
    }

    .left-sidebar-container {
        @include section;
        grid-area: left-sidebar;
        overflow-y: auto;
        overflow-x: hidden;
        width: max-content;
    }

    .main-view-container {
        border-radius: 8px;
        background-color: #121212;
        grid-area: main-view;
        overflow-y: auto;
    }

    .right-sidebar-container {
        border-radius: 8px;
        background-color: $sectionBgClr;
        grid-area: right-sidebar;
        overflow-y: auto; 
    }

    .right-sidebar-closed {
        display: none;
    }

    .now-playing-bar-container {
        grid-area: now-playing-bar;
        margin-top: auto;
    }

    @media (max-width: 720px) {

        padding-inline: 0;

        .main-view-container {
            border-radius: 0;
        }

        .left-sidebar-container {
            display: none;
        }

        .right-sidebar-container {
            display: none;
        }
    }

}