.station-index {
    padding: $panelGap;
    background-color: $primaryBgClr;

    .global-nav-container {
        grid-area: global-nav;
    }

    .left-sidebar-container {
        grid-area: left-sidebar;
        overflow-y: auto;
        overflow-x:hidden;
        width: 300px;
        // overflow-y: scroll;
    }

    .main-view-container {
        border-radius: 8px;
        background-color: #121212;
        grid-area: main-view;
        overflow-y: auto;
    }

    .right-sidebar-container {
        // @include section;
        // grid-area: right-sidebar;
        // overflow: auto;
        border-radius: 8px;
        background-color: $sectionBgClr;
        grid-area: right-sidebar;
        overflow: hidden; 
    }

    .right-sidebar-closed {
        width: 0;
        padding: 0;
    }

    .now-playing-bar-container {
        grid-area: now-playing-bar;
    }
}