.btn-tinted {
    @include tinted;
    @include btn($type: regular);

    &:hover {
        background-color: $tintedBgClrHighlight;
    }
}

.btn-dark {
    @include dark;
    @include btn($type: regular);
}

.btn-light {
    @include light;
    @include btn($type: regular);
}

.btn-green {
    @include green;
    @include btn($type: animated, $size: big);

    &:active {
        background-color: $buttonBgGreenPress;
    }
}

.text-normal {
    font-size: 1rem;
    font-weight: 400;
}

.disabled {
    opacity: 0.6;
}
