// Fonts
$fonts: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva;
$titleFonts: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva;
$fallbackFonts: Helvetica, sans-serif;

// Font sizes
$textSizeSmaller-2: 0.75rem;
$textSizeSmaller-1: 0.875rem;
$textSizeBase: 1rem;
$textSizeLarger1: 1.5rem;
$textSizeLarger2: 2rem;
$textSizeLarger3: 3rem;
$textSizeLarger4: 4rem;
$textSizeLarger5: 6rem;

// Color palette
$primaryTxtClr: #ffffff;
$secondaryTxtClr: #b3b3b3;
$pressedTxtClr:#656565;
$mediumTxtClr: #b3b3b3;
$primaryBgClr: #000000;
$sectionBgClr: #121212;
$uiBorderClr: #c3c6d4;
$buttonBgGreen: #1ed760;
$buttonBgGreenPress: #169c46;
$modalBackdropBgClr: rgba(41, 47, 76, 0.7);
$modalBgClr: #ffffff;
$tintedBgClr: hsla(0,0%,100%,.1);
$tintedBgClrHighlight: hsla(0,0%,100%,.14);
$darkBgClr: rgba(0,0,0,.7);
$lightTxtClr: #000000;
$lightBgClr: #ffffff;
$lightBgClrHighlight: #f0f0f0;
$lightBgClrPress: #c7c7c7;

// Sizes
$stdBtnSize: 32px;
$bigBtnSize: 48px;
$smallSvgSize: 16px;
$stdSvgSize: 20px;
$largeSvgSize: 32px;

// Spaces
$panelGap: 8px;
$smallPadding: 4px 12px;
$bigPadding: 8px 32px;
$sectionPaddingBlock: 12px;
$sectionPaddingInline: 8px;
$sectionBorderRadius: 8px;
$playerHeight: 72px;

// Layout breakpoints
$breakNarrow: 720px;
$breakNormal: 1360px;
$breakWide: 1920px;
