.dynamic-grid {
    display: grid;
    grid-template-columns:
        [index] 16px
        [first] minmax(120px, 4fr)
        [var1] minmax(120px, 2fr)
        [last] minmax(120px, 1fr);
    gap: 16px;

    & > * {
        place-self: center start;
    }

    & > *:first-child {
        place-self: center end;
    }
}

.btn {
    @include btn();
}

.btn-tinted {
    @include tinted;
    @include btn();

    &:hover {
        background-color: $tintedBgClrHighlight;
    }
}

.btn-medium {
    @include medium;
    @include btn();

    &:hover {
        background-color:  $tintedBgClr;
    }
}

.btn-dark {
    @include dark1;
    @include btn;
}

.btn-dark2 {
    @include dark2;
    @include btn($circleSize: $stdBtnSize);

    &:hover {
        fill:  $primaryTxtClr;
        color:  $primaryTxtClr;
    }

    &:active {
        fill: $pressedTxtClr;
        color: $pressedTxtClr;
    }
}

.btn-dark2-simple {
    @include dark2;
    @include btn($circleSize: $stdBtnSize);
    transition: none;

    &:hover {
        fill:  $primaryTxtClr;
        color:  $primaryTxtClr;
    }
}

.btn-light {
    @include light;
    @include btn;
}

.btn-green {
    @include green;
    @include btn($type: animated, $size: big);

    &:active {
        background-color: $buttonBgGreenPress;
    }
}

.btn-v {
    @include btn($type: animated, $circleSize: 30px);
    background-color: transparent;
    fill: $buttonBgGreen;

    &:active {
        fill: $buttonBgGreenPress;
    }
}

.btn-v-small {
    @include btn($type: animated, $circleSize: 16px);
    background-color: transparent;
    fill: $buttonBgGreen;

    &:active {
        fill: $buttonBgGreenPress;
    }
}

.text-normal {
    font-size: $textSizeBase;
    font-weight: 400;
}

.text-medium {
    font-size: $textSizeBase;
    font-weight: 700;
    color: $mediumTxtClr;
}

.title-medium {
    font-family: SprintifyUITitle;
    font-size: $textSizeLarger1;
    font-weight: 700;
}

.disabled {
    opacity: 0.6;
}

.icon {
    @include icon;
}

.content-spacing {
    width: 100%;
    padding: 0 $sectionPaddingInline;
}

.padded-top-rounded-box {
    padding: $sectionPaddingInline $sectionPaddingBlock;
    border-top-left-radius: $sectionBorderRadius;
    border-top-right-radius: $sectionBorderRadius;
}

.svg-small {
    width: $svgSizeSmall;
    height: $svgSizeSmall;
}

.svg-normal {
    width: $svgSizeBase;
    height: $svgSizeBase;
}

.svg-big1 {
    width: $svgSizeLarge1;
    height: $svgSizeLarge1;
}

.svg-big2 {
    width: $svgSizeLarge2;
    height: $svgSizeLarge2;
}
