.btn {
    @include btn();
}

.btn-tinted {
    @include tinted;
    @include btn();

    &:hover {
        background-color: $tintedBgClrHighlight;
    }
}

.btn-medium {
    @include medium;
    @include btn();

    &:hover {
        background-color:  $tintedBgClr;
    }
}

.btn-dark {
    @include dark1;
    @include btn();
}

.btn-dark2 {
    @include dark2;
    @include btn($squareSize: $stdBtnSize);

    &:hover {
        fill:  $primaryTxtClr;
        color:  $primaryTxtClr;
    }

    &:active {
        fill: $pressedTxtClr;
        color: $pressedTxtClr;
    }
}

.btn-light {
    @include light;
    @include btn();
}

.btn-green {
    @include green;
    @include btn($type: animated, $size: big);

    &:active {
        background-color: $buttonBgGreenPress;
    }
}

.text-normal {
    font-size: $textSizeBase;
    font-weight: 400;
}

.text-medium {
    font-size: $textSizeBase;
    font-weight: 700;
    color: $mediumTxtClr;
}

.title-medium {
    font-family: SprintifyUITitle;
    font-size: $textSizeLarger1;
    font-weight: 700;
}

.disabled {
    opacity: 0.6;
}

.icon {
    @include icon;
}

.padded-top-rounded-box {
    padding: $sectionPaddingInline $sectionPaddingBlock;
    border-top-left-radius: $sectionBorderRadius;
    border-top-right-radius: $sectionBorderRadius;
}

.svg-small {
    width: $smallSvgSize;
    height: $smallSvgSize;
}

.svg-normal {
    width: $stdSvgSize;
    height: $stdSvgSize;
}

.svg-big {
    width: $largeSvgSize;
    height: $largeSvgSize;
}