.station-index.main-layout {
    @include main-grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "global-nav         global-nav      global-nav"
    "left-sidebar       main-view       right-sidebar"
    "now-playing-bar    now-playing-bar now-playing-bar";

    @media (max-width: 720px) {

        & {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas:
            "main-view"
            "now-playing-bar"
            "global-nav";
        }
        
    }
    
}

.station-index.main-layout-loggedin {
    @include main-grid;
    grid-template-columns: auto minmax(600px, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "global-nav         global-nav      global-nav"
    "left-sidebar       main-view       right-sidebar"
    "now-playing-bar    now-playing-bar now-playing-bar";

    @media (max-width: 720px) {

        padding: 0;

        & {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas:
            "main-view"
            "now-playing-bar"
            "global-nav";
        }

    }
}

.main-text {
    margin-bottom: 5rem;
}