/* Scrollbar width and height */
.scrollable-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Scrollbar track - transparent */
.scrollable-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Hide the scrollbar buttons */
.scrollable-container::-webkit-scrollbar-button {
    display: none;
}

/* Scrollbar corner (the square where vertical and horizontal scrollbars meet) */
.scrollable-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 100vh;
    background-color: hsla(0, 0%, 100%, 0.3);
    opacity: 0;
    transition: opacity 0.2s ease;
    transition: background-color 0.3s ease;
}

/* Scrollbar thumb on hover */
.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 100%, 0.4);
}

/* Scrollbar thumb on active (when clicking/dragging) */
.scrollable-container::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 100%, 0.5);
}






